<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/main.css"/>
  </head>

  <body class="bg-light">

    <main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <i class="fas fa-chart-pie mr-3 icon-chart"></i>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Biểu đồ mức độ hạnh phúc CodeGym</h6>
      <small>Since 2020</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row vertical-align">
      <div class="col-md-8 col-xs-12">
        <div id="chart"></div>
      </div>  
      <div class="col-md-4 col-xs-12">

        <ul class="list-group" id="countEmotion">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Siêu hạnh phúc
            <span class="badge badge-primary badge-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Khá hạnh phúc
            <span class="badge badge-primary badge-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Bình thường
            <span class="badge badge-primary badge-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Không tốt
            <span class="badge badge-primary badge-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Tào lao
            <span class="badge badge-primary badge-pill">0</span>
          </li>
        </ul>
        <div id="recent"></div>
      </div>
    </div>
  </div p-3 bg-white rounded shadow-sm">

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Mới cập nhật</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="#">Tất cả cập nhật</a>
    </small>
  </div>
</main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      const ACTION_UPDATE_DASHBOARD = "update dashboard";
      const demoData = [
        {
          emotion: "Siêu hạnh phúc",
          count: 20
        },
        {
          emotion: "Khá hạnh phúc",
          count: 20
        },
        {
          emotion: "Bình thường",
          count: 20
        },
        {
          emotion: "Không tốt",
          count: 20
        },
        {
          emotion: "Tào lao",
          count: 20
        },
      ];
      updateCountEmotionUI(demoData);
      var options = {
        title: {
            // text: "Biểu đồ 2020",
            align: 'left',
            margin: 10,
            offsetX: 0,
            offsetY: 0,
            floating: false,
            style: {
              fontSize:  '36px',
              color:  '#263238'
            },
        },
        noData: {
          text: 'Đang tải...'
        },
        chart: {
          type: "donut"
        },
        series: [
          demoData[0].count,
          demoData[1].count,
          demoData[2].count,
          demoData[3].count,
          demoData[4].count,
        ],
        labels: [
          demoData[0].emotion,
          demoData[1].emotion,
          demoData[2].emotion,
          demoData[3].emotion,
          demoData[4].emotion,
        ],
        colors:['#6610f2', '#28a745', '#ffc107', '#fd7e14', '#dc3545'],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: "bottom"
              }
            }
          }
        ]
      };

      window.onload = function() {
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var socket = io();
        socket.on(ACTION_UPDATE_DASHBOARD, function(data) {
          const recentHtml = buildRecentHtml(data);
          // updateRecent(recentHtml);
          demoData[0].count = data.series[0];
          demoData[1].count = data.series[1];
          demoData[2].count = data.series[2];
          demoData[3].count = data.series[3];
          demoData[4].count = data.series[4];

          updateCountEmotionUI(demoData);
          chart.updateSeries(data.series, true);
        });
      };


    function updateRecent(html) {
      var recent = document.querySelector("#recent");
      recent.innerHTML = html;
      $("#recent").slideDown( 500 );
    }

    function buildRecentHtml(data) {
      var html = `Thời gian cập nhật: ${timeConverter(data.recent.time)}<br>`;
      html += (data.recent.happy) ? "Happy: " + getStyleNumber(data.recent.happy) : "";
      html += (data.recent.anger) ? "Anger: " +  getStyleNumber(data.recent.anger) : "";
      return html;
    }

    function getStyleNumber(number) {
      const cls = (number > 0) ? 'up' : 'down';
      return `<span class='${cls}'>${number}</span><br/>`;
    }

    function getFormatTime(timeText) {
      var date = new Date(timeText * 1000);
      return date.getFormatTime();
    }

    function timeConverter(UNIX_timestamp){
      var a = new Date(UNIX_timestamp * 1000);
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var year = a.getFullYear();
      var month = months[a.getMonth()];
      var date = a.getDate();
      var hour = a.getHours();
      var min = a.getMinutes();
      var sec = a.getSeconds();
      var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      return time;
    }

    function updateCountEmotionUI(data) {
      var countEmotion = document.querySelector("#countEmotion");
      let html = '';
      for (let i = 0; i < data.length; i++) {
        html += `<li class="list-group-item d-flex justify-content-between align-items-center">
          ${data[i].emotion}
          <span class="badge badge-primary badge-pill">
            ${data[i].count}
          </span></li>
        `;
      }

      countEmotion.innerHTML = html;
    }

    </script>
  </body>
</html>
